@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.form_input {
  display: flex;
  align-items: center;
  gap: 3rem;
  justify-content: space-between;
  position: relative;
}

.label {
  text-align: right; 
  font-weight: 700;
  flex: 1; 
  width: 170px; 
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 30px;
  color: #474444;

}

.inputField {
  width: 380px;
  height: 37px;
  border-radius: 10px 10px 0 0;
  outline: none;
  padding: 5px 28px 2px 5px;
  border: none;
  background-color: #F4F4F4;
  font-size: 16px;
}

/* Error styles for input field borders and text */
.inputField.error {
  border: 1px solid #D60000;
  color: #D60000;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

/* Placeholder styling */
.inputField::placeholder {
  color: #474747;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

/* Placeholder styling for error state */
.inputField.error::placeholder {
  color: #D60000;
}

.registerBtnDiv, .loginBtnDiv {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: var(--blue-btn);
  border-radius: 8px;
  border: none;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  padding: 0.2rem 5rem;
  width: fit-content;
  font-weight: 600;
  color:  #474444;
  ;
}

.btn:hover {
  cursor: pointer;
  filter: brightness(1.09);
}

.btn:disabled {
  cursor: not-allowed;
}

.errorMessage{
  color: #D60000;
 text-align: center;
}
p{
  margin-top: -20px;
}
  
  